{% extends  'Sandbox/Layouts/layout4.html.twig' %}

{% block title %}{{ parent() }} : doctrine{% endblock %}

{% block titre_principal %}Vue "list" : exercices Doctrine{% endblock %}

{% block vue %}
    <h2>Liste de tous les films</h2>
    <table>
        <tr><th>id</th><th>titre</th><th></th></tr>
        {% for film in films %}
            {% set urlView = path('sandbox_doctrine_view', { 'id' : film.id }) %}
            {% set urlDelete = path('sandbox_doctrine_delete', { 'id' : film.id }) %}
            <tr>
                <td>{{ film.id }}</td>
                <td><a href="{{ urlView }}">{{ film.titre }}</a></td>
                <td><a href="{{ urlDelete }}">delete</a> (! pas de confirmation)</td>
            </tr>
        {% endfor %}
    </table>

    <h2>dump</h2>
    {{ dump(films) }}
{% endblock %}
